*{margin: 0;padding: 0}

h3{
    background:pink;
    color:white;
    line-height: 60px;
    text-align: center;}

img{
    width: 400px;
    height: 300px;
}
div{
    width: 400px;
    margin: 0 auto;
}
h4:hover{
   color: #808080;
}
p:hover{
    color: #FFC0CB;
}
li:hover{
    color:#FF149A;
}
dl:hover{
    color: #FF149A;
}